.About__Main {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 20px 20px 12px 30px rgba(64, 78, 92, 10);
  background-color: rgb(64, 78, 92);
}
