.Events__Main {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(172, 189, 186);
  box-shadow: 20px 20px 10px 30px rgba(172, 189, 186, 10);

}
