.Card {
  width: 90vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border-color: #00204e;
  border: 0px solid #00204e;
  background-color: rgb(244, 243, 245);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 1.5s;
}
.Card:hover {
  transform: scale(1.02);
}
.Card_an {
  margin-bottom: 5vh;
}

.Card__Actions {
  display: flex;
  justify-content: center;
  margin-block-start: auto;
  text-align: center;
  background-color: rgb(244, 243, 245);
  font-style: italic;
  height: 20px;
}

.Card__Actions > p {
  font-weight: bold;
}
.Card__Image {
  background-position: center;
  height: 200px;
}

.Card__Content {
  height: 100%;
  margin-bottom: 2px;
  padding-bottom: 2px;
  display: flex;
  flex: 1 0 auto;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.Card__Content > h2 {
  color: #00204e;
  font-weight: 500;
  display: none;
}

@media only screen and (max-width: 500px) {
  .Card {
    width: 80vw;
  }
}
@media only screen and (min-width: 800px) {
  .Card {
    width: 40vw;
    height: 480px;
  }
}
@media only screen and (min-width: 1200px) {
  .Card {
    width: 30vw;
    height: 450px;
  }
}
