.Card {
  scroll-snap-align: center;
  width: 90vw;
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.Card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.Card__Actions {
  display: flex;
  justify-content: flex-start;
  margin-block-start: auto;
}

.Card__Image {
  background-position: center;
  height: 200px;
}

.Card__Content {
  height: 100%;
  margin-bottom: 2px;
  padding-bottom: 2px;
  display: flex;
  flex: 1 0 auto;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 500px) {
  .Card {
    width: 80vw;
  }
}
@media only screen and (min-width: 900px) {
  .Card {
    width: 43vw;
    height: 420px;
  }
}
@media only screen and (min-width: 1200px) {
  .Card {
    width: 30vw;
    height: 400px;
  }
}
