.Events__Main {
  scroll-snap-type: y proximity;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(64, 78, 92);
  box-shadow: 20px 20px 10px 25px rgba(64, 78, 92, 10);
}

.Events__Main > h1 {
  margin-bottom: 5px;
  color: white;
  width: 100%;
  text-align: center;
}
