.Footer {
  background-color: #005882;
}

.Footer__Content {
  background-color: #00204e;
  padding-bottom: 20px;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-content: center;
  align-items: center;
}

.Footer__Socials {
  color: white;
  background-color: #00204e;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-content: center;
  align-items: center;
}

.Footer__Socials > a {
  background-color: rgb(0, 0, 0);
  border-radius: 20000px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin: 10px;
  transition: transform 0.2s;
}

.Footer__Socials > a:hover {
  transform: scale(1.05);
  background-color: white !important;
  fill: white !important;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
