.Contact {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Input {
  margin-bottom: 5px;
}

.Submit {
  margin-top: 10%;
}
.error {
  color: red;
}

.form_row1 {
  width: 100%;
}
.form_row2 {
  width: 100%;
}
.form_row1 > .Input1 {
  width: 46%;
  margin: 5px;
}
.Input3 {
  height: 100px;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .form_row1 > .Input1 {
    width: 100%;
  }
  .Input .Input3 {
    width: 100%;
  }
}
