.PeopleCard {
  width: 90vw;
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.PeopleCard:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.PeopleCard__Image {
  background-position: top;
  height: 200px;
}
.PeopleCard__Actions {
  display: flex;
  justify-content: flex-start;
  margin-block-start: auto;
}

.PeopleCard__Content {
  height: 100%;
  margin-bottom: 2px;
  padding-bottom: 2px;
  display: flex;
  flex: 1 0 auto;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 500px) {
  .PeopleCard {
    width: 80vw;
  }
}
@media only screen and (min-width: 800px) {
  .PeopleCard {
    width: 40vw;
  }
}
@media only screen and (min-width: 1200px) {
  .PeopleCard {
    width: 30vw;
  }
}
