* {
  margin: 0;
  font-family: sans-serif;
}

.divider {
  background-color: white;
}

.Panel__Main {
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  background: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/09/20/istock-157528129.jpg?width=2160");
  display: flex;
  justify-content: center;
}
.Panel__Box {
  background-color: rgba(218, 233, 255, 0.125);
  display: flex;
  font-family: sans-serif;
  position: absolute;
  margin-top: 5vh;
  left: 50;
  width: auto;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  min-height: 25vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.Panel__Box > h1 {
  text-align: center;
  color: white;
}

.Pane__Main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Pane__Box {
  font-family: sans-serif;
  margin: 5vh;
  background: rgb(255, 255, 255, 1);
  border-radius: 9px;
  flex-flow: row;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.About__Heading {
  color: white;
}

.About__Card {
  margin-top: 10px;
  margin: 10px;
  height: 75vh;
  min-height: 75vh;
  max-height: 70vh;
}

.Main__Buttons {
  margin: 10px;
  max-width: 180px;
  flex-direction: column;
  flex-flow: center;
  display: flex;
  justify-content: space-evenly;
}

.Main__Buttons > button,
.Main__Buttons > a {
  color: white;
  background-color: #00204e;
  margin: 10px;
  padding: 10px;
  font-weight: 550;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.Main__Buttons > button:hover,
.Main__Buttons > a:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #3b386f;
}
